body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.qr-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.qr-code {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

input {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #555;
}

input::placeholder {
  color: #888;
}

button {
  background-color: #2962ff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0039cb;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.lista-invitados {
  margin-top: 20px;
  text-align: left;
}

.lista-invitados ul {
  list-style: none;
  padding: 0;
}

.lista-invitados li {
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.lista-invitados li span {
  font-weight: bold;
}

.email-button {
  margin-top: 10px;
}

.email-button button {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-button button:hover {
  background-color: #00796b;
}

.email-button button:disabled {
  background-color: #555;
}